*{
    margin:0;  
    box-sizing: content-box;
}


.searchbody__search{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 10vh;
    flex-wrap: wrap;

}

.searchbody__search > input{
    border: none;
    outline: none;
    font-size: 20px;

}

.searchbody__search > button{
    border-radius: 6px;
    background-color: #430f58;
    border: none;
    font-size: 20px;
    color: white

}


@media screen and (max-width:575px){
    .searchbody__search{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
        /* background-color: #d5def5; */
        width: 50vw;
        border-radius: 5px;
    }


    .searchbody__search > input{
        width: 50%;
        align-items: center;
        text-align: center;
        border: none;
        outline: none;
        font-size: 0.9rem;
        background-color: transparent;
    }


    .searchbody__search > button{
        border-radius: 6px;
        background-color:#8594e4;
        border: none;
        font-size: 0.9rem;
    }

    
}


@media screen and (min-width:500px){

    .searchbody__search{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 5vh;
        width: 30vw;
        margin-left: 0px;
        margin-right: 0px;
        /* gap:-100px; */

    }

    .searchbody__search > input{
        width: 50%;
        /* align-items: center; */

        border: none;
        outline: none;
        font-size: 0.9rem;
        background-color: transparent;
    }

    .searchbody__search > button{
        border-radius: 6px;
        background-color:#8594e4;
        border: none;
        font-size: 1rem;
    }

}