
@media screen and (min-width:500px){
    .searchbody{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 10s all ease-in-out;
        /* justify-content: center; */
        margin-top: 15px;


    }

    .Now{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap:5px;
    }


    .Now_details {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1px;
        width: 50%;
        background:  #d5def5; 
        height: 25vh;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        padding-top: 6px;
        border-radius: 5px;
        
    }

    .Now_details > h3{
        margin-top: 3px;

    }

    .now_img  {
        padding-top: 6%;
        background-color: transparent;
        width: 40%;
        
    }

    .temp{
        margin-top: 10px;
    }
    .temp_desc{
        margin-top: 10px;
    }

    .today{
        margin-top: 5%;
        width:100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;


    }

    .today> h3{
        font-size: 1.2rem;
    }

    .today_details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background:  #d5def5; 
        /* gap: 20px; */
        height: 47vh;
        margin: 0px;
        width: 50%;
        border-radius: 5px;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        /* margin-bottom: 10px; */
        
    
    }

    .today_details > div {
        width: 70%;
        height: 30%;
        background: #8594e4; 
        border: 1px solid rgb(252, 252, 250);
        border-radius: 5px;

    }

    .today_date{
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    .windspeed{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        gap:10px;
    }

    .humidity{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        
        gap:10px;

    }

    .pressure {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        gap:10px;
    }

    .pressure > h3 {
        font-size: 1rem;
        font-weight: 200;
    }

    .humidity > h3 {
        font-size: 1rem;
        font-weight: 200;
    }

    .windspeed > h3 {
        font-size: 1rem;
        font-weight: 200;
    }

    .today_date > h3{
        font-size: 1rem;
        font-weight: 200;
    }

    .Now_details {
        font-size: 1rem;
        font-weight: 200;
    }

    .Now_details > h3 {
        font-size: 1rem;
        font-weight: 200;
    }

    .Now_text > h3 {
        font-size: 1rem;
        font-weight: 200;
    }

}










@media screen and (max-width:499px) {

    .searchbody{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 10s all ease-in-out;
        justify-content: space-around;
        margin-top: 15px;

    }

    .Now{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap:5px;
        font-size: 1rem;
    }

    .Now_text >h3 {
        font-size: 1rem;
        font-weight: 200;
    }

    .Now_details {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1px;
        width: 50%;
        background:  #d5def5; 
        height: 25vh;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        padding-top: 15px;
        border-radius: 5px;
        
    }

    .Now_details > h3{
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 200;

    }


    .now_img  {
        margin-top: 25px;
        background-color: transparent;
        width: 40%;
        
    }

    .today{
        margin-top: 5%;
        width:100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;


    }

    .today_date > h3{
        font-size: 1rem;
        font-weight: 200;
    }

    .today_details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background:  #d5def5; 
        /* gap: 20px; */
        height: 47vh;
        margin: 0px;
        width: 50%;
        border-radius: 5px;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        /* margin-bottom: 10px; */
        
    
    }

    .today_details > div {
        width: 70%;
        height: 30%;
        background: #8594e4; 
        border: 1px solid rgb(252, 252, 250);
        border-radius: 5px;

    }

    .today_date{
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    .windspeed{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        gap:10px;
    }

    .windspeed > h3 {
        font-size: 1rem;
        font-weight: 200;
    }

    .humidity{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        gap:10px;

    }

    .humidity > h3 {
        font-size: 1rem;
        font-weight: 200;
    }

    .pressure {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        gap:10px;

    }

    .pressure > h3 {
        font-size: 1rem;
        font-weight: 200;
    }






    
}